/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
menu {
  list-style: none;
}
/* GERAL */
.container {
  margin: 0 auto;
  padding: 2rem;
}
/* HEADER */
header nav menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
}
header nav li a {
  font-size: 1.5rem;
  font-family: "Sora", sans-serif;
  position: relative;
}
header nav li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s;
}

header nav li a:hover::after {
  width: 100%;
}
/* MAIN */
main{
  margin-left: 5rem;
  margin-right: 5rem;
}
#hello h2 {
  font-size: 2rem;
  font-family: "Manrope", sans-serif;
}
#hello p{
  font-size: 1rem;
  font-family: "Manrope", sans-serif;
}
#hello #text_box{
  margin-bottom: 1rem;
}
#hello .button_container{
  display: flex;
  margin: 1rem;
  gap: 0.5rem;
}
#hello .button{
  border: 0.15rem solid black;
  padding: 0.5rem;
}
/* Sobre mim */
#about h2 {
  font-size: 2rem;
  font-family: "Manrope", sans-serif;
}
#about p{
  font-size: 1rem;
  font-family: "Manrope", sans-serif;
}
/* FOOTER */
footer {
  margin-left: 5rem;
  margin-right: 5rem;
}
